/* Webkit browsers (Chrome, Safari) */
input[type="range"].mobile-slider::-webkit-slider-runnable-track {
    background: var(--gray-lighter) !important;
    height: 5px !important;
}

input[type="range"].mobile-slider::-webkit-slider-thumb {
    margin-top: -8px !important;
    border: 1px solid var(--gray-light) !important;
}

/* Firefox */
input[type="range"].mobile-slider::-moz-range-track {
    background: var(--gold) !important;
    height: 8px !important;
    border-radius: 5px !important;
}

input[type="range"].mobile-slider::-moz-range-thumb {
    width: 20px !important;
    height: 20px !important;
    background: white !important;
    border-radius: 50% !important;
    border: 2px solid var(--gold) !important;
    cursor: pointer !important;
}

/* IE and Edge */
input[type="range"].mobile-slider::-ms-track {
    background: var(--gold) !important;
    height: 8px !important;
    border-radius: 5px !important;
    border-color: transparent !important;
    border-width: 0 !important;
}

input[type="range"].mobile-slider::-ms-thumb {
    width: 20px !important;
    height: 20px !important;
    background: white !important;
    border-radius: 50% !important;
    border: 2px solid var(--gold) !important;
    cursor: pointer !important;
}

.mobile-category-container {
  display: flex;
  padding: 15px 10px 0px 10px;
  align-items: center;
  height: 100%;
  width: 100svw;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.mobile-category {
  text-align: center;
  margin-inline: 10px;
  transition: background-color 0.3s ease;
}

.mobile-category .mobile-category-icon:hover {
  background-color: var(--gold);
  border-radius: 70%;
}

.mobile-category-icon {
  font-size: 20px;
  color: var(--gray-light);
}

.mobile-category-text {
  margin-top: 5px;
  font-size: 12px;
  color: var(--gray);
}

input[type="color"] {
	-webkit-appearance: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
  border: 1px solid var(--light);
}

input[type="color"]::-webkit-color-swatch {
	border: none;

}

.mobile-list {
  list-style: none;
  color: var(--gray);
  font-size: 14px;
}

.touchwiz:hover {
  background-color: var(--gold);
  border-radius: 70%;
}